<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        namespace是指向的接口类    -->
<mapper namespace="com.yh.userInfo.dao.UserMapper">
<!--    id：方法名。必须是mapper接口的方法名称（此处即getUserById方法）。
        若没定义接口，则可自行定义名称。resultType：返回类型。在这里必须是User类的绝对路径（此处查询的是一个User加粗样式类）。
        如果方法返回值是list，在resultType中写List的泛型，因为Mybatis对jdbc封装 一行一行读取数据。
        由于框架的反射机制，resultType不能直接写类名，而要求必须写类的全路径，即：com.mybatis.pojo.User。
        SQL语句中查出的列名，即自动映射到实体类中的属性，若属性与列名不同，则会返回Null，解决方法可将此处的sql查询出的列名取别名
        例如实体类中的name改成userName则mapper.xml中的sql须改成select id,name userName，… from users。
-->
<!--    id方法名，resultType是数据库的实例的bean对象-->
    <select id="getUserById" resultType="com.yh.userInfo.bean.User">
        select * from user where id = #{id}

    </select>
</mapper>
